<% include ../partials/Header %>

<body>
	<div class="wrapper">
		<% include ../partials/RightBar %>

		<div class="main">
			<% include ../partials/SearchBar %>

			<main class="content">
				<!--Form Account-->
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h2 class="card-title">Thêm tài khoản</h2>
							<!-- <h6 class="card-subtitle text-muted">Thêm tài khoản</h6> -->
						</div>
						<div class="card-body">
							<form>
								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="txt_UserName">Tài khoản</label>
										<input type="text" class="form-control" id="txt_UserName" placeholder="Nhập tài khoản">
									</div>
									<div class="form-group col-md-6">
										<label for="txt_Email">Email</label>
										<input type="email" class="form-control" id="txt_Email" placeholder="Nhập Email">
									</div>
								</div>
								<div class="form-group">
									</br>
									<h6 class="card-subtitle text-muted">Địa chỉ</h6></br>
									<label for="txt_Address">Số nhà / Đường</label>
									<input type="text" class="form-control" id="txt_Address" placeholder="Số nhà / Đường">
								</div>
								<div class="form-group">
									<label for="txt_Address2">Phường / Quận / Huyện</label>
									<input type="text" class="form-control" id="txt_Address2"
										placeholder="Công ty, Xã, Phường, Quận, Huyện">
								</div>
								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="txt_City">Tỉnh Thành Phố</label>
										<input type="text" class="form-control" id="txt_City">
									</div>
									<div class="form-group col-md-4">
										<label for="inputState">Trạng thái</label>
										<select id="inputState" class="form-control">
											<option selected>Hoạt Động</option>
											<option>Khoá</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="custom-control custom-checkbox m-0">
										<input type="checkbox" class="custom-control-input">
										<span class="custom-control-label">Quyền Admin</span>
									</label>
								</div>
								<button type="submit" class="btn btn-primary">Thêm tài khoản</button>
							</form>
						</div>
					</div>
				</div>
				<!--ListAccount-->
				<div class="col-12 col-xl-12">
					<div class="card">
						<div class="card-header">
							<h5 class="card-title">Danh sách tài khoản</h5>
							<h6 class="card-subtitle text-muted">Danh sách tài khoản khách hàng.</h6>
						</div>
						<table class="table">
							<thead>
								<tr>
									<th style="width:20%;">Tên tài khoản</th>
									<th style="width:20%">Tên khách hàng</th>
									<th style="width:20%">Số điện thoại</th>
									<th class="d-none d-md-table-cell" style="width:20%">Email</th>
									<th style="width:20%">Ảnh đại diện</th>
									<th style="width:20%">Địa chỉ</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<% for (var i = 0; i < listAccount.length; i++) { %>
								<tr>
									<td><%= listAccount[i].username %></td>
									<td><%= listAccount[i].fullName %></td>
									<td class="d-none d-md-table-cell"><%= listAccount[i].phone %></td>
									<td class="d-none d-md-table-cell"><%= listAccount[i].email %></td>
									<td>
										<img src="<%= listAccount[i].avatarUrl %>" class="avatar img-fluid" alt="No IMG">
									</td>
									<td class="d-none d-md-table-cell"><%= listAccount[i].address %></td>
									<td class="table-action">
										<button type="button" name="btn_edit"><i class="align-middle" data-feather="edit-2"></i></button>
										<button type="button" name="btn_delete"><i class="align-middle" data-feather="trash"></i></button>
									</td>
								</tr>
								<% } %>
							</tbody>
						</table>
					</div>
				</div>
			</main>
			<% include ../partials/Footer %>
		</div>
	</div>

	<script src="js/vendor.js"></script>
	<script src="js/app.js"></script>

</body>

</html>