<!DOCTYPE html>
<html lang="en">
<% include ../partials/Header %>

<body>
  <div id="container" class="ui-notify"></div>
  <div class="wrapper">
    <!-- side-navigation -->
    <% include ../partials/side-navigation %>

    <!-- Header End -->

    <section class="main-section">
      <div class="responsive-logo">
        <img src="images/logo.png" alt="" />
      </div>
      <div class="responsive-menu">
        <div class="responsive-menu-dropdown">
          <a title="" class="red">MENU <i class="icon-align-justify"></i></a>
        </div>

        <ul>
          <li>
            <a href="dashboard.html" title=""><i class="icon-laptop"></i>Dashboard</a>
          </li>
          <li>
            <a href="hosting-dashboard.html" title=""><i class="icon-laptop"></i>Hosting Dashboard</a>
          </li>
          <li>
            <a href="sale-purchase-dashboard.html" title=""><i class="icon-laptop"></i>For Sale & Purchase</a>
          </li>
          <li>
            <a title=""><i class="icon-cogs"></i>Components<span>13</span></a>
            <ul>
              <li>
                <a href="charts.html" title=""><i class="icon-angle-right"></i>Charts</a>
              </li>
              <li>
                <a href="notification.html" title=""><i class="icon-angle-right"></i>Notifications</a>
              </li>
              <li>
                <a href="grids.html" title=""><i class="icon-angle-right"></i>Grids</a>
              </li>
              <li>
                <a href="ribbon-grids.html" title=""><i class="icon-angle-right"></i>Ribbon Grids</a>
              </li>
              <li>
                <a href="buttons.html" title=""><i class="icon-angle-right"></i>Buttons</a>
              </li>
              <li>
                <a href="calendars.html" title=""><i class="icon-angle-right"></i>Calendars</a>
              </li>
              <li>
                <a href="progressbar.html" title=""><i class="icon-angle-right"></i>Progress Bar</a>
              </li>
              <li>
                <a href="file-manager.html" title=""><i class="icon-angle-right"></i>File Manager</a>
              </li>
              <li>
                <a href="gallery.html" title=""><i class="icon-angle-right"></i>Gallery</a>
              </li>
              <li>
                <a href="slider.html" title=""><i class="icon-angle-right"></i>Slider</a>
              </li>
              <li>
                <a href="dashboard.html" title=""><i class="icon-angle-right"></i>Page Tour</a>
              </li>
              <li>
                <a href="collapse.html" title=""><i class="icon-angle-right"></i>Collapse</a>
              </li>
              <li>
                <a href="range-slider.html" title=""><i class="icon-angle-right"></i>Range Slider</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="container">
        <div class="row">
           <!-- top-stats -->
           <% include ../partials/top-stats %>
          <!-- main-bg-->
        </div>
        <!-- Row -->
      </div>
      <!-- Container -->
      <div class="container">
        <div class="col-md-12">
            <div aria-hidden="true" role="dialog" tabindex="-1" class="modal fade" id="myModalRestoreProduct"
              style="display: none;">
              <div class="modal-dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                        ×
                      </button>
                      <h4 class="modal-title">Khôi phục sản phẩm</h4>
                    </div>
                    <div class="modal-body">
                      <div class="col-md-12">
                        <form id="editProductForm" enctype="multipart/form-data">
                          <p name="productId" hidden>
                          </p>
                          <p> Bạn muốn khôi phục sản phẩm này?
                          </p>
                          <p name="productName">
                          </p>
                        </form>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button data-dismiss="modal" class="btn gray" type="button">
                        Close
                      </button>
                      <button type="button" onclick="restoreProduct(event)" class="btn blue">Khôi phục</button>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
        </div>
        <div class="col-md-12">
          <div class="widget-body">
            <div class="widget-heading purple">
              <i class="icon-table pull-left"></i>
              <h3 class="pull-left">Danh sách các sản phẩm đã xóa</h3>
            </div>
              <div class="streaming-table">
              </div>
              <table id="stream_table" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th hidden></th>
                    <th>Tên sản phẩm</th>
                    <th>Loại sản phẩm</th>
                    <th>Mô tả</th>
                    <th>Số lượng</th>
                    <th>Giá</th>
                    <th>Đơn vị</th>
                    <th style="width: 10%;">Hình ảnh</th>
                    <th style="width: 20%;">Tuỳ chỉnh</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (var i = 0; i < listDeletedProduct.length;  i++) { %>
                  <tr>
                    <td hidden><%= listDeletedProduct[i]._id %></td>
                    <td><%= listDeletedProduct[i].productName %></td>
                    <td><%= listDeletedProduct[i].productType%></td>
                    <td><%= listDeletedProduct[i].description %></td>
                    <td><%= listDeletedProduct[i].quan%></td>
                    <td><%= listDeletedProduct[i].price%></td>
                    <td><%= listDeletedProduct[i].unit%></td>

                    <td style="height: 10%;">
                      <img src="<%= listDeletedProduct[i].productImg %>" class="avatar img-fluid" alt="No IMG"
                        style="width: 100%; height: 10%;" />
                    </td>
                    <td>
                      
                      <button class="btns  red  m-sml-btn " type="button" name="btn_restore" data-toggle="modal"
                        data-target="#myModalRestoreProduct">
                        <i class="icon-remove" data-feather="trash"></i>
                        Khôi phục
                      </button>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
              <div id="summary">
                <div></div>
              </div>
          </div>
        </div>
      </div>
  </div>
  </section>
  <!-- Main Section -->
  </div>
  <!-- Wrapper -->

  <!-- Body -->

  <script type="text/javascript">
    var restoreProduct= function (event) {
      event.preventDefault();

      var formData = new FormData();
      var productId = $("[name=productId]").text();

      formData.append("productId", productId);

      $.ajax({
        url: "deletedproduct/restoreProduct",
        type: "POST",
        data: formData,
        cache: false,
        contentType: false,
        processData: false,
      })
        .done(function (result) {
          if (result.success) {
              alert(result.mgs);
            location.reload();
          } else {
            alert(result.mgs);
          }
        })
        .fail(() => {
          alert("Không kết nối được với server");
        });
    };
    var loadImg = function (event) {
      $("#productImg").attr(
        "src",
        URL.createObjectURL(event.target.files[0])
      );
    };
  
    $("[name=btn_restore]").click(function () {
      var productId = $(this).parent().parent().children().eq(0).html();
      var name = $(this).parent().parent().children().eq(1).html();
      $("[name=productId]").text(productId);
      $("[name=productName]").text(name);
    });
  </script>
  <script src="js/app.js"></script>
</body>

</html>